# Insert your values
# Rename file to .env to run locally (npm run dev)
# Rename file to .env.n, where n is from 1 to 4 to run multiple bots with docker compose (./start.sh)
API_KEY="0000000000:AAA_AAaAAaAaA_AAa_aAAAaaAaaaAAAaA_A"
MY_ID=00000000
PHOTO_CHAT_ID=-0000000000000
VIDEO_CHAT_ID=-0000000000000