# Node dependencies
node_modules

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

json/*
location-history.json
kml/*

/dist

# Docs
docs/*
!docs/README.md
!docs/architecture/
!docs/configuration/
!docs/guides/

deploy.sh

# Logs
/logs/
